.div-login{
    margin-top: 75%!important;
}
.background-login {
    background-image: url('../assets/imgs/logo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
}
