<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Control para insumos de inventarios.</h3>
  <p>
    Bienvenido {{ usuario }}
  </p>
  <ion-list *ngIf="bodegas" >
      <ion-item>
        <ion-label>Seleccione la bodega:</ion-label>
        <ion-select interface="popover" [(ngModel)]="bodegaId">
          <ion-option (click)="seleccionarBodega(bodega)" *ngFor= "let bodega of bodegas" value="{{bodega.codigo}}">{{bodega.descripcion}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
</ion-content>
