<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Control para insumos de inventarios.</h3>
  <p>
    Bienvenido {{ nombreUsuario }}
    
  </p>
  <p *ngIf="granjas && granjas.length=== 1">
    Granja:{{granjas[0].Descripcion}}
  </p>
  <ion-list *ngIf="granjas && granjas.length > 1">
      <ion-item>
        <ion-label>Seleccione la granja:</ion-label>
        <ion-select interface="popover" [(ngModel)]="granjaId">
          <ion-option (click)="seleccionarBodega(granja)" *ngFor= "let granja of granjas" value="{{bodega.Codigo}}">{{granja.Descripcion}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button *ngIf="granjas && granjas.length > 1" ion-button outline item-end icon-start (click)="seleccionarBodega()">
      <ion-icon name="checkmark"></ion-icon>
      Seleccionar Granja
    </button>
</ion-content>
